#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    hm_behavior: hm_behavior {
        compatible = "zmk,behavior-hold-tap";
        label = "HM_BEHAVIOR";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <250>;
        require-prior-idle-ms = <150>;
        quick-tap-ms = <0>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };

        Minus {
            bindings = <&kp MINUS>;
            key-positions = <34 35>;
        };

        Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <35 36>;
        };

        Copy {
            bindings = <&kp LC(C)>;
            key-positions = <17 18>;
            layers = <0>;
        };

        Paste {
            bindings = <&kp LC(V)>;
            key-positions = <43 44>;
            layers = <0>;
        };

        LDelete {
            bindings = <&kp DELETE>;
            key-positions = <0 1>;
        };

        Clipboard {
            bindings = <&kp LG(V)>;
            key-positions = <53 54>;
            layers = <0>;
        };

        Move_to_Next_Monitor {
            bindings = <&kp LG(LS(LEFT_ARROW))>;
            key-positions = <63 62>;
        };

        Task_Manager {
            bindings = <&kp LC(LS(ESCAPE))>;
            key-positions = <51 50>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <11 12>;
        };

        Calculator {
            bindings = <&kp C_AL_CALCULATOR>;
            key-positions = <24 25>;
        };

        f2 {
            bindings = <&kp F2>;
            key-positions = <1 2>;
        };

        f4 {
            bindings = <&kp F4>;
            key-positions = <4 3>;
        };

        f5 {
            bindings = <&kp F5>;
            key-positions = <3 5>;
        };

        f9 {
            bindings = <&kp F9>;
            key-positions = <4 5>;
        };

        Cut {
            bindings = <&kp LC(X)>;
            key-positions = <16 17>;
        };

        LCalculator {
            bindings = <&kp C_AL_CALCULATOR>;
            key-positions = <13 14>;
        };

        LBackspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <29 28>;
        };
    };

    macros {
        SHIFT_MCLK: SHIFT_MCLK {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_press>,
                <&mkp MB3>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LEFT_SHIFT &mkp MB3>;

            label = "SHIFT_MCLK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
&kp ESC           &kp N1           &kp N2        &kp N3    &kp N4            &kp N5         &kp UP_ARROW     &kp N6       &kp N7             &kp N8       &kp N9         &kp N0         &kp BACKSPACE
&kp TAB           &kp Q            &kp W         &kp E     &kp R             &kp T          &kp DOWN_ARROW   &kp Y        &kp U              &kp I        &kp O          &kp P          &kp EQUAL
&kp LSHFT         &kp A            &kp S         &kp D     &mt LEFT_SHIFT F  &mt LCTRL G    &kp LEFT_ARROW   &kp H        &mt RIGHT_SHIFT J  &mt RCTRL K  &kp L          &kp SEMICOLON  &kp APOS
&kp LCTRL         &kp Z            &kp X         &kp C     &kp V             &kp B          &kp RIGHT_ARROW  &kp N        &kp M              &kp COMMA    &kp DOT        &kp FSLH       &kp RIGHT_SHIFT
&kp C_PLAY_PAUSE  &lt 1 LG(SPACE)  &kp LEFT_GUI  &kp LALT  &kp SPACE         &lt 4 ENTER    &kp ENTER        &lt 2 ENTER  &kp SPACE          &mo 4        &kp RIGHT_ALT  &tog 3
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "Main";
        };

        Raise {
            bindings = <
&kp GRAVE   &kp F1           &kp F2          &kp F3           &kp F4           &kp F5             &mmv MOVE_UP     &kp F6           &kp F7           &kp F8      &kp F9     &kp F10           &trans
&trans      &kp GRAVE        &mkp LCLK       &mkp MCLK        &mkp RCLK        &mkp MB4           &mmv MOVE_DOWN   &kp PG_UP        &kp END          &kp UP      &kp HOME   &kp MINUS         &kp EQUAL
&trans      &kp TILDE        &trans          &trans           &trans           &mkp MB5           &mmv MOVE_LEFT   &kp PG_DN        &kp LEFT         &kp DOWN    &kp RIGHT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans      &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI    &mmv MOVE_RIGHT  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp INSERT  &kp F11    &kp F12           &trans
&kp C_MUTE  &trans           &trans          &trans           &trans           &trans             &mkp LCLK        &trans           &trans           &trans      &trans     &trans
            >;

            display-name = "Raise";
            sensor-bindings = <&scroll_encoder>;
        };

        Lower {
            bindings = <
&kp TILDE  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &kp F6  &kp F7  &kp F8      &kp F9     &kp F10      &trans
&trans     &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans          &mmv MOVE_DOWN   &trans  &trans  &kp F11     &kp F12    &kp UNDER    &kp PLUS
&trans     &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans          &mmv MOVE_LEFT   &trans  &trans  &trans      &trans     &kp LBRC     &kp RBRC
&trans     &sys_reset    &trans          &bootloader   &trans        &trans          &mmv MOVE_RIGHT  &trans  &trans  &sys_reset  &soft_off  &bootloader  &studio_unlock
&trans     &trans        &trans          &trans        &trans        &trans          &mkp LCLK        &trans  &trans  &trans      &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "Lower";
        };

        Gaming {
            display-name = "Game";
            bindings = <
&kp ESC           &kp N1     &kp N2        &kp N3        &kp N4     &kp N5       &kp UP_ARROW     &kp N6         &kp N7     &kp N8     &kp N9           &kp N0         &kp BACKSPACE
&kp TAB           &kp Q      &kp W         &kp E         &kp R      &kp T        &kp DOWN_ARROW   &kp Y          &kp U      &kp I      &kp O            &kp P          &kp BSLH
&kp LCTRL         &kp A      &kp S         &kp D         &kp F      &kp G        &kp LEFT_ARROW   &kp H          &kp J      &kp K      &kp L            &kp SEMICOLON  &kp APOS
&kp LSHFT         &kp Z      &kp X         &kp C         &kp V      &kp B        &kp RIGHT_ARROW  &kp N          &kp M      &kp COMMA  &kp DOT          &kp FSLH       &kp ENTER
&kp K_PLAY_PAUSE  &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &kp SPACE  &kp LCTRL    &kp ENTER        &kp BACKSPACE  &kp ENTER  &mo 2      &kp RIGHT_SHIFT  &tog 3
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        NUM {
            bindings = <
&none       &none         &kp MINUS  &none         &kp KP_MULTIPLY  &kp KP_SLASH    &none  &kp KP_SLASH  &kp KP_MULTIPLY  &none   &kp MINUS  &none      &none
&none       &none         &kp PLUS   &kp N7        &kp N8           &kp N9          &none  &kp N7        &kp N8           &kp N9  &kp PLUS   &none      &none
&none       &kp LEFT_ALT  &kp EQUAL  &kp N4        &kp N5           &kp N6          &none  &kp N4        &kp N5           &kp N6  &kp EQUAL  &kp RALT   &none
&none       &none         &kp DOT    &kp NUMBER_1  &kp N2           &kp N3          &none  &kp N1        &kp N2           &kp N3  &kp DOT    &none      &none
&kp C_MUTE  &kp COMMA     &kp N0     &kp N0        &none            &none           &none  &none         &none            &kp N0  &kp N0     &kp COMMA
            >;

            display-name = "NUM";
        };
    };
};
